.footer {
    display: flex;
    flex-direction: column;
    background-color: #333333;
    justify-content: center;
    margin-top: 30px;
    height: 140px;
    align-items: center;
}

.footer>p {
    color: white;
}

.footer__icons {
    display: flex;
    background-color: white;
    border-radius: 100%;
    margin-top: 15px;
    padding: 7px;
}

.footer__icons>a {
    display: flex;
}

.footer__icons:hover {
    background-color: #00a8cc;
    cursor: pointer;
    transition: 0.5s;
}