body {
    font-family: 'Source Sans Pro', sans-serif;
}

#home {
    text-align: center;
}

p {
    color: #666;
}

h1,
h3 {
    font-family: 'Montserrat', sans-serif;
}

.home__btn>button {
    padding: 15px 30px;
    margin-bottom: 100px;
    background-color: #00a8cc;
    color: white;
    border: 0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 0 2px 4px #666;
}

.home__btn>button:hover {
    background-color: #333333;
}

.home__btn {
    text-decoration: none;
}


/* heading text */

.home__heading {
    position: absolute;
    top: 35vh;
    text-align: center;
    color: #eee;
}

.home__heading h1 {
    width: 50%;
    margin: 0 auto;
    margin-bottom: 20px;
}

.home__whitebtn {
    padding: 20px 30px;
    background-color: transparent;
    font-weight: bolder;
    letter-spacing: 2px;
    color: white;
    border: 2px solid #eee;
}

.home__whitebtn:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

p {
    color: #666;
}


/* team content */

.home__data {
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

.home__data>p {
    margin-bottom: 0;
    text-align: center;
}

h1 h3 {
    font-family: 'Montserrat', sans-serif;
}

.home__datacontainer {
    background-color: white;
    padding: 3px;
    /* box-shadow: 1px 6px 20px #d2d3c9; */
}

.home__team {
    margin-top: 200px;
}

.home__team p {
    text-align: center;
    margin-bottom: 25px;
    margin-top: 40px;
}


/* product section */

.homeproduct__headline {
    background-color: #eee;
    padding: 10px;
}

.homeproduct__headline h3 {
    margin-top: 100px;
}

.homeproduct__headline p {
    margin: 30px 0;
}

.home__prodContainer {
    display: flex;
    justify-content: space-evenly;
    bottom: 70px;
    position: relative;
    flex-wrap: wrap;
}

.home__product {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
}

.home__product img {
    border-radius: 10px;
    height: 200px;
}

@media only screen and (max-width: 800px) {
    .home {
        text-align: center;
    }
    .home__heading {
        text-align: center;
    }
    .home__datacontainer {
        width: 90%;
        margin: 50px auto 0 auto;
    }
    .homeproduct__headline {
        text-align: center;
        padding: 20px 0;
    }
    .homeproduct__headline h2 {
        margin-top: 0px;
    }
    .homeproduct__headline p {
        margin: 0;
        text-align: center;
    }
    .home__data {
        text-align: center;
    }
    .home__data>p {
        width: 85%;
        margin: 20px auto;
    }
    .home__heading h1 {
        width: 100%;
        font-size: 25px;
    }
    .home__team p {
        text-align: center;
    }
    .home__data {
        width: 100%;
    }
    .home__heading p {
        width: 100%;
    }
    .particles__bg {
        height: 600px;
    }
}