.products {
    text-align: center;
    margin-top: 150px;
}

.products__row {
    text-align: left;
    margin-top: 100px;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.data {
    width: 40%;
}

.products__img {
    width: 60%;
}

.products__img {
    height: 300px;
    width: 320px;
}

.products__link {
    text-decoration: none;
}

.products__subname {
    margin-top: 0;
}

.products__para {
    margin-bottom: 0;
}

.products__btn {
    display: flex;
    align-items: center;
    padding: 10px 23px;
    margin-bottom: 100px;
    background-color: #00a8cc;
    color: white;
    border: 0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 0 2px 4px #666;
}

.whatsApp__icon {
    margin-left: 5px;
}

.products__btn:hover {
    background-color: #333333;
}

@media only screen and (max-width: 800px) {
    .products__row {
        text-align: center;
    }
    .products {
        text-align: center;
    }
    .data {
        text-align: center;
        width: 90%;
        margin: auto;
    }
    .products__btn {
        text-align: center;
    }
}